# Test and build your Hyas project
# For more information see: https://henkverlinde.com/continuous-integration-workflow-for-your-hyas-project/

name: Hyas CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'     
        required: true
        default: 'warning'
      tags:
        description: 'Test scenario tags'  

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        node-version: [14.x, 15.x]

    steps:
    - uses: actions/checkout@v2

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install Hugo
      uses: peaceiris/actions-hugo@v2
      with:
        hugo-version: 'latest'
        extended: true
    
    - name: Check install Hugo
      run: hugo version

    - name: Install dependencies
      run: npm ci
    
    - name: Delete temporary directories
      run: npm run clean
    
    - name: Build production website
      run: npm update
      
    - name: Build production website
      run: npm run build
      
    - name: FTP Deploy
      # You may pin to the exact commit or the version.
      # uses: SamKirkland/FTP-Deploy-Action@2a4e9b1312ebeb73a1f72b9330c71831c1e4ce01
      uses: SamKirkland/FTP-Deploy-Action@4.0.0
      with:
        # ftp server
        server: ${{ secrets.SERVER }}
        # ftp username
        username: ${{ secrets.USER }}
        # ftp password
        password: ${{ secrets.PASSWORD }}
        # Server port to connect to (read your web hosts docs)
        port: # optional
        # protocol to deploy with - ftp, ftps, or ftps-legacy
        protocol: # optional
        # Folder to upload from, must end with trailing slash /
        local-dir: "public/"
        # Path to upload to on the server. Must end with trailing slash /
        server-dir:  ${{ secrets.PATH }}
        # Path and name of the state file - this file is used to track which files have been deployed
        state-name: # optional
        # Prints which modifications will be made with current config options, but doesnt actually make any changes
        dry-run: # optional
        # Deletes ALL contents of server-dir, even items in excluded with exclude argument
        dangerous-clean-slate: # optional
        # An array of glob patterns, these files will not be included in the publish/delete process
        exclude: # optional
        # How verbose should the information be - warn, info, debug
        log-level: debug
        # strict or loose
        security: # optional
